@use "../abstracts/" as *;

body {
  color: clr("neutral", "400");
  font-weight: var(--fw-400);
  font-size: var(--fs-400);
  font-family: var(--ff-base);
  line-height: var(--lh-600);
}

h2 {
  margin-block-end: rem(30);
}
