@use "functions" as *;
@use "colors" as *;

$buttons: (
  "display": inline-flex,
  "padding-block": rem(18),
  "padding-inline": rem(32),
  "border": 0,
  "line-height": 1,
  "text-transform": uppercase,
  "text-decoration": none,
  "cursor": pointer,
);
$accent-btn: (
  "color": clr("neutral", "900"),
  "background-color": clr("primary", "400"),
);
$outline-size: rem(5);
$outline-btn: (
  "color": clr("neutral", "100"),
  "background-color": transparent,
  "outline-size": $outline-size,
  "outline-style": solid,
  "outline-color": clr("neutral", "100"),
  "outline-offset": calc($outline-size * -1),
);
