$sizes: (
  4: 0.25rem,
  8: 0.5rem,
  12: 0.75rem,
  16: 1rem,
  24: 1.5rem,
  36: 2.25rem,
  48: 3rem,
  60: 3.75rem,
  72: 4.5rem,
  90: 5.625rem,
  96: 6rem,
);

// Section options
$padding-section: 7rem;
$padding-hero: 20rem;

// Container Options
$padding-container-inline: 1rem;
$container-max-width: 77.75rem;
$container-max-width-wide: 100rem;

// Grid Options
$padding-card-body: 5rem;
$grid-gap: 1.5625rem;

// Flex Options
$flex-group-gap: 1rem;
