@use "functions" as *;

$font-families: (
  "accent": "Abril Fatface",
  "base": "Lato",
);
$font-sizes: (
  "classic": (
    300: rem(16),
    400: rem(18),
    500: rem(21),
    600: rem(27),
    700: rem(32),
    800: rem(60),
    900: rem(80),
  ),
  "fluid": (
    600: clamp(1.4rem, 0.5rem + 3vw, 1.6875rem),
    800: clamp(2.5rem, 0.5rem + 7vw, 3.75rem),
    900: clamp(2.5rem, 0.5rem + 10vw, 5rem),
  ),
);
$font-weights: (
  300: 300,
  400: 400,
  700: 700,
);
$line-heights: (
  400: 1,
  500: 1.1,
  600: 1.5,
  700: 1.6,
  800: 1.8,
  900: 2,
);
$letter-spacings: (
  "extra-tight": rem(-2),
  "tight": rem(-1),
  "loose": rem(1),
);
